*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
}

h1 {
  font-family: 'Signika', sans-serif;
  font-weight: bold;
  font-size: 5.625rem;
  line-height: 1;
  color: #A59678;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Signika', sans-serif;
  font-size: 2.25rem;
  color: #A59678;
  margin-bottom: 1em;
  padding: 0;
}

h3 {
  font-family: 'Signika', sans-serif;
  font-weight: bold;
  font-size: 1.875rem;
  color: #A59678;
  margin: 0;
  padding: 0;
}

h4 {
  font-family: 'Signika', sans-serif;
  font-weight: bold;
  font-size: 1.3125rem;
  color: #A59678;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 8em 0 5em 0;
}

/* NAVIGATION */

.logo {
  width: 6em;
}

.nav {
  font-family: 'Signika', sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  background: #2E323F;
  color: #6F737F;
}

.nav-content {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-1,
.nav-2 {
  margin: 0;
  padding: 0;
}

.nav-items-1 {
  margin-bottom: 0.25em;
}

.nav__item {
  list-style: none;
  text-transform: uppercase;
  padding: 0;
  text-align: center;
  padding-bottom: 0.5em;
}

.btn-nav {
  font-family: 'Signika', sans-serif;
  background: #A59678;
  border: 1px solid #A59678;
  border-radius: 60rem;
  padding: 0.25em 1em;
}

/* HERO */

.hero {
  background: #3B4050;
}

.white {
  color: #FFFFFF;
}

.hero-content {
  align-items: flex-start;
}

.hero-content p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5em;
  margin-bottom: 1em;
  padding: 0;
}

.btn {
  font-family: 'Signika', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #FFFFFF;
  background: #A59678;
  border: 1px solid #A59678;
  border-radius: 60rem;
  text-transform: uppercase;
  padding: 0.5em 1.5em;
  margin-bottom: 2em;
}

/* MAIN */

.section-1 {
  background: rgb(231, 230, 230);
  text-align: center;
}

.section-1 h3 {
  padding-bottom: 0.5em;
}

.section-1 p,
.aside-text p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5em;
  margin: 0;
  padding-bottom: 3em;
}

.main-content p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3125rem;
  line-height: 1.5em;
  margin: 0;
  padding-bottom: 3em;
}

.main-content img {
  margin-bottom: 3em;
}


/* ASIDE */

.aside {
  margin-bottom: 4em;
}

.aside-text {
  background: #2E323F;
  padding: 3em;
  margin-bottom: 2em;
  text-align: center;
}

.aside-text h3,
.aside-text p {
  color: #FFFFFF;
  padding: 0;
}


/* FOOTER */

.footer {
  background: #2E323F;
}

.headline-footer h1 {
  color: #FFFFFF;
  font-family: 'Signika', sans-serif;
  font-weight: bold;
  font-size: 3.25rem;
}

.info-footer p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #6F737F;
}

/* MEDIA QUERIES */

@media (min-width: 700px) {}

@media (min-width: 1000px) {

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .col {
    display: flex;
    flex-direction: column;
  }

  .section-1-text+.section-1-text {
    margin-left: 8em;
  }

  .nav,
  .hero,
  .hero-content,
  .section-1,
  .section-1-text,
  .section-2,
  .main-content,
    {}
}