*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-family: 'Signika', sans-serif;
  font-weight: bold;
  font-size: 5.625rem;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Signika', sans-serif;
  font-size: 2.25rem;
  margin-bottom: 1em;
  padding: 0;
}

h3 {
  font-family: 'Signika', sans-serif;
  font-weight: bold;
  font-size: 1.875rem;
  margin: 0;
  padding: 0;
}

h4 {
  font-family: 'Signika', sans-serif;
  font-weight: bold;
  font-size: 1.3125rem;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5em 0;
}

/* NAVIGATION */

.nav {
  font-family: 'Signika', sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
}

/* HERO */

.hero-content p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

.btn {
  font-family: 'Signika', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

/* MAIN */

.section-1 p,
.aside-text p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

.main-content p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3125rem;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

/* FOOTER */

.aside-text h3 {}

.headline-footer {
  font-family: 'Signika', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.info-footer h4 {}

.info-footer p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

/* MEDIAQUERIES */

@media (min-width: 700px) {
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav,
  .hero,
  .hero-content,
  .section-1,
  .section-1-text,
  .section-2,
  .main-content,
    {}

  @media (min-width: 1000px) {}