*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-family: 'Playfair';
  font-size: 3.75rem;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Playfair';
  font-size: 2.25rem;
  margin-bottom: 1em;
  padding: 0;
}

p {
  font-size: 1.31rem;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  max-width: 1128px;
  margin: 0 auto;
  padding: 5em 0;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  width: 45%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent);
  min-height: 660px;
}

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 45%;
  margin: 0 auto;
}

.hero p {
  font-weight: lighter;
  font-size: 1.125rem;
  margin-bottom: 1.5em;
  text-transform: uppercase;
  letter-spacing: 1em;
}

.section-1__content h2 {
  text-align: center;
  color: #824936;
  margin-bottom: 1.5em;
}

.section-2 {
  background: linear-gradient(#824936, #222C2A);
  color: #fff;
}

.section-3 {
  background: #824936;
  color: #fff;
}

.button {
  background-color: var(--button-background-color);
  background-image: var(--button-background-image);
  background-position: var(--button-background-position);
  background-size: var(--button-background-size);
  border: none;
  border-radius: 35px/50%;
  color: var(--button-color, #383d42);
  cursor: pointer;
  font-family: "Titillium Web", sans-serif;
  font-size: 28px;
  letter-spacing: 1px;
  margin: var(--button-spacing);
  outline: none;
  padding: 15px 80px;
  text-transform: uppercase;
  transition: background var(transition-duration, 0.25s) ease-in-out;
  will-change: background;
}

.button {
  background-image: linear-gradient(90deg,
      #9ec0f3,
      #6051f0,
      #3212e7);
  background-position: 0 0;
  background-size: 200% 100%;
  color: #fff;
  width: 10em;
}

.button:hover {
  background-position: 100% 0;
}


.btn {
  flex: 1 1 auto;
  /* margin: 10px; */
  padding: 0.75em 1.5em;
  font-size: 1rem;
  text-align: center;
  /* text-transform: uppercase; */
  transition: 0.9s;
  background-size: 200% auto;
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px #eee;
  border-radius: 6em;
  text-decoration: none;
  width: 10em;
}

.btn:hover {
  background-position: right center;
}

.btn {
  background-image: linear-gradient(to right, #69b2bd 0%, #2e86a7 51%, #3f679d 100%);
  /* background-image: linear-gradient(to right, #E040FB, #00BCD4); */
}


.button-3 {
  background-color: var(--button-background-color);
  background-image: var(--button-background-image);
  background-position: var(--button-background-position);
  background-size: var(--button-background-size);
  border: none;
  border-radius: 6em;
  color: var(--button-color, #383d42);
  cursor: pointer;
  font-size: 1.25rem;
  margin: var(--button-spacing);
  outline: none;
  padding: 0.75em 1.5em;
  /* text-transform: uppercase; */
  transition: background var(--button-transition-duration, 0.25s) ease-in-out;
  will-change: background;
  width: 10em;
  text-decoration: none;
}

.button-3 {
  --button-background-image: linear-gradient(90deg,
      #26ffd5,
      #05be99,
      #3f52c2);
  --button-background-position: 0 0;
  --button-background-size: 200% 100%;
  --button-color: #383d42;
}

.button-3:hover {
  --button-background-position: 100% 0;
}