@import url("https://fonts.googleapis.com/css?family=Raleway:300,700");

* {
  box-sizing: border-box;
}

body {
  background: #353535;
  color: #c4c4c4;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  line-height: 1.45;
  display: flex;
}

.sidebar {
  background: #4f4f4f;
  flex: 1 1 20%;
  min-width: 300px;
  padding: 3em;
}

.logo {
  text-transform: uppercase;
  margin-bottom: 2em;
}

@media (min-width: 1500px) {
  .logo {
    margin-bottom: 5em;
  }
}

.logo span {
  font-weight: 700;
}

.nav-item {
  color: #737373;
  text-decoration: none;
  font-size: 1.7rem;
  display: inline-block;
  margin-right: 2em;
}

@media (min-width: 1500px) {
  .nav-item {
    display: block;
    margin: 7vh 0;
  }
}

.nav-item.active {
  color: #c4c4c4;
}

.main-content {
  flex: 1 1 80%;
  padding: 3em;
  min-height: 100vh;
}

.portfolio {
  display: grid;
  height: 100%;
  max-height: 800px;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
}

.portfolio-item {
  background: #f96855;
  color: #c4c4c4;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.portfolio-item.small {
  grid-row: span 1;
  grid-column: span 1;
}

.portfolio-item.medium {
  grid-row: span 2;
  grid-column: span 2;
}

.portfolio-item.large {
  grid-row: span 3;
  grid-column: span 3;
}

.portfolio-item.tall {
  grid-row: span 3;
  grid-column: span 2;
}

.portfolio-item.wide {
  grid-row: span 2;
  grid-column: span 3;
}

.one {
  background-image: url(https://source.unsplash.com/random/600x600);
  background-repeat: no-repeat;
  background-size: cover;
}

.two {
  background-image: url(https://source.unsplash.com/random/900x900);
  background-repeat: no-repeat;
  background-size: cover;
}

.three {
  background-image: url(https://source.unsplash.com/random/600x600);
  background-repeat: no-repeat;
  background-size: cover;
}

.four {
  background-image: url(https://source.unsplash.com/random/300x300);
  background-repeat: no-repeat;
  background-size: cover;
}

.five {
  background-image: url(https://source.unsplash.com/random/600x300);
  background-repeat: no-repeat;
  background-size: cover;
}

.six {
  background-image: url(https://source.unsplash.com/random/300x600);
  background-repeat: no-repeat;
  background-size: cover;
}

.one::before,
.two::before,
.three::before,
.four::before,
.five::before,
.six::before {
  content: "";
  display: block;
  background: #353535;
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all ease-in-out 300ms;
  z-index: -1;
}

.one:hover::before,
.two:hover::before,
.three:hover::before,
.four:hover::before,
.five:hover::before,
.six:hover::before {
  opacity: 0.2;
}