* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.header {
  background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent), url("https://unsplash.it/600/400"), grey;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.row {
  display: flex;
  align-items: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 2em;
  color: white;
}

.hero-content {
  width: 50%;
}