* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.header {
  background: url("image-01.jpg");
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 2em;
  color: white;
}

.hero-content {
  width: 50%;
}